#wrap{
	width: 1000px;
	height: 700px;
	background: url(../images/bg.png) no-repeat;
	margin: 20px auto;
	text-align: center;
}

.logo{
	display: inline-block;
	vertical-align: top;
	height: 48px;
	width: 200px;
	background: url(../images/logo.png) no-repeat;
	margin: 36px 0 24px 0;
}

h4{
	font:24px "宋体";
	color: #fff;
	margin-bottom: 20px;
}

h5{
	font:16px "宋体";
	color: #fff;
	margin-bottom: 60px;
}

.game{
	width: 678px;
	height: 402px;
	border:6px solid #e7cdf3;
	margin: 0 auto;
	position: relative;
	background: #332041;
}

.game img{
	position: absolute;
	top:0;
	display: none;
}

.score{
	position: absolute;
	left: 14px;
	top:14px;
}

.score span{
	display: inline-block;
	vertical-align: top;
	height: 80px;
	width: 80px;
	padding-top: 20px;
	box-sizing: border-box;
	border: 2px solid #9a8ea0;
	border-radius: 40px;
	color: #fff;
	text-align: center;
	font:16px/24px "宋体";
}

.score span:nth-child(1){
	background: #78258c;
	margin-bottom: 20px;
}

.score span:nth-child(3){
	background: #595a9f;
}

.bg{
	position: absolute;
	height: 357px;
	width: 441px;
	background: url(../images/miaov.png) no-repeat;
	opacity: 0.1;
	left: 142px;
	top:28px;
}

.begin{
	position: absolute;
	left:50%;
	bottom: 26px;
	height: 51px;
	width: 160px;
	background: url(../images/btn.png) no-repeat;
	color: #fff;
	text-align: center;
	font:16px/50px "宋体";
	margin-left: -80px;
	cursor:pointer;
	opacity: 1;
}
